{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "flow-react-proptypes",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-optional-catch-binding",
    ["babel-plugin-styled-components", {
        "minify": false
    }],
    ["inline-json-import", {}]
  ]
}
