{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": ["flowtype", "compat", "react", "babel", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "no-unexpected-multiline": 2,
    "compat/compat": 2,
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
    "react/default-props-match-prop-types": ["error", { "allowRequiredDefaults": true }],
    "react/require-default-props": 0,
    "jsx-a11y/accessible-emoji": 0,
    "no-unused-expressions": 0,
    "babel/no-unused-expressions": 1,
    "no-invalid-this": 0,
    "babel/no-invalid-this": 1,
    "react/jsx-one-expression-per-line": 0,
    "import/no-cycle": 0
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "polyfills": ["fetch", "promises"],
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
