{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
